@model OnlineBook.Models.book

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="info" class="control-label"></label>
                <input asp-for="info" class="form-control" />
                <span asp-validation-for="info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bookquantity" class="control-label"></label>
                <input asp-for="bookquantity" class="form-control" />
                <span asp-validation-for="bookquantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
          <div class="form-group">

                <label class="control-label">Catagory</label>

                <select name="cataid"  class="form-control" asp-for="cataid">

                    <option value="0">Please select</option>

                    <option value="1">Computer Science</option>

                    <option value="2">Computer Engineering</option>

                </select>

            </div>
            <div class="form-group">
                <label asp-for="author" class="control-label"></label>
                <input asp-for="author" class="form-control" />
                <span asp-validation-for="author" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label class="control-label">Pic</label>

                <input type="file" class="form-control" name="file" />

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
